{% if item.isStandard is defined %}
    {% if item.isStandard is same as false %}
        <td></td>
    {% else %}
        <td class="text-info "><i class="fab fa-creative-commons-zero fa-sm"></i></td>
    {% endif %}
{% endif %}
